img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

h3 + img {
    width: 500px;
    height: 250px;
}

a > img {
    width: 100%;
    height: 300px;
    border: none;
}

#menuNav {
    border-width: 3px;
    border-style: solid;
    border-radius: 15%;
    background-color: #AEB6BF;
}

h1 {
    color: #229954;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    font-style: unset;
    text-align: center;
}

h2 {
    color: #CB4335;
    font-family: cursive;
    font-size: 42px;
    font-weight: lighter;
    font-style: oblique;
    text-align: left;
}

h3 {
    color: #2980B9;
    font-family: 'Times New Roman';
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

h4 {
    color: #2980B9;
    font-family: cursive;
    font-size: 18px;
    font-weight: lighter;
    font-style: oblique;
    text-align: left;
}

.Posiciones {
    border-collapse: collapse;
    width: 50%;
    background-color: #f3f3f3;
    margin: auto;
}

.Posiciones th,td {
    text-align: left;
}

tr > th {
    background-color: #154360;
    color: white;
    font-weight: bolder;
}

aside {
    border: 5px #5D6D7E solid;
}

footer {
    width: 50%;
    display: block;
    margin: auto;
    border: 3px #5D6D7E solid;
}

footer p {
    font-size: medium !important;
    font-weight: 100 !important;
    text-align: center !important;
    line-height: 5px !important;
}

#contenido {
    background-image: url("../imagenes/logoligapro2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #154360  ;
    background-color: white;
    font-size: large;
    font-weight: 400;
    text-align: justify;
    line-height: 2em;
    text-indent: 2em;
}

li > a:hover{
    color: #E74C3C;
    font-size: 20px;
}

.form > label {
    display: block;
    margin: .5em 0 0 0;
    margin-top: 10px;
    width: 10%;
    float: left;
}

.form > input {
    display: block;
    margin: .5em 0 0 0;
    width: 80%;
    margin-top: 10px;
    float: left;
}

.btn {
    display: block;
    margin: 1em 0;
    margin-top: 120px;
    clear: both;
}

input:focus {
    border: 2px solid #000;
    background: #f3f3f3;
}

header > a {
    width: 100%;
    float: left;
    margin: 5px;
}

header > a:hover {
    color: #E74C3C;
    font-size: 20px;
}

article > a:hover {
    color: #E74C3C;
    font-size: 20px;
}

iframe {
    border: 5px black solid;
    margin: 10px;
    padding: 10px;
}

article img {
    border: 5px;
    border-color: #154360;
    border-style: solid;
    border-radius: 50%;
}

ul > li {
    list-style-type: square;
    color: #154360;
}

footer {
    background-color: #154360;
}

footer p {
    background-color: #154360;
    color: white;
}

label {
    color:  #154360;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
