#cabecera {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
    border-radius: 10%;
}

#menuPrincipal {
    width: 20%;
    border-width: 1px;
    border-color: blue;
    border-style: double;
    border-radius: 10%;
    float: left;
}

#contenido {
    width: 75%;
    margin-left: 10px;
    padding: 5px 20px; 
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
    border-radius: 5%;
    background-image: url("../imagenes/logoCuenca.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    float: left;
}

.imagen200 {
    width: 200px;
    height: 200px;
}

footer {
    width: 30%;
    clear: both;
}